# Setup

In [2]:
from transform import transform
from json import loads

In [5]:
with open("example_response.json", "r", encoding="utf-8") as f:
        data = loads(f.read())

In [6]:
df = transform(data)

# Exploration

In [7]:
df.head()

,name,country,vehicle_type,vehicle_sub_types,era,realistic_br,realistic_ground_br,is_event,release_date,is_premium,is_pack,is_marketplace,is_squadron,image_url
0,a-20g,usa,assault,[strike_aircraft],2,2.7,2.7,None,None,False,False,False,False,{'image': 'https://www.wtvehiclesapi.sgambe.se...
1,a-26b,usa,assault,[strike_aircraft],4,5.3,5.3,None,None,False,False,False,False,{'image': 'https://www.wtvehiclesapi.sgambe.se...
2,a-26b_10,usa,assault,[strike_aircraft],4,5.0,5.0,None,2017-09-14,False,False,False,False,{'image': 'https://www.wtvehiclesapi.sgambe.se...
3,a-26c,usa,bomber,[],4,5.3,5.3,None,None,False,False,False,False,{'image': 'https://www.wtvehiclesapi.sgambe.se...
4,a-26c-45-dt,usa,bomber,[],4,5.3,5.3,None,None,True,True,False,False,{'image': 'https://www.wtvehiclesapi.sgambe.se...

In [8]:
df.dtypes

name                    object
country                 object
vehicle_type            object
vehicle_sub_types       object
era                      int64
realistic_br           float64
realistic_ground_br    float64
is_event                object
release_date            object
is_premium                bool
is_pack                   bool
is_marketplace            bool
is_squadron               bool
image_url               object
dtype: object

In [10]:
df["era"].value_counts()

era
6    97
1    89
2    85
4    76
7    74
5    72
3    64
8    43
Name: count, dtype: int64

In [13]:
df["vehicle_type"].value_counts()

vehicle_type
fighter               228
assault                90
bomber                 72
light_tank             45
medium_tank            45
attack_helicopter      29
spaa                   20
tank_destroyer         20
destroyer              16
heavy_tank             12
battleship              6
utility_helicopter      5
light_cruiser           5
heavy_boat              3
heavy_cruiser           2
frigate                 1
boat                    1
Name: count, dtype: int64

In [16]:
df["vehicle_sub_types"].value_counts()

vehicle_sub_types
[]                                            266
[jet_fighter]                                  90
[strike_aircraft]                              52
[naval_aircraft]                               39
[strike_aircraft, naval_aircraft]              27
[jet_fighter, naval_aircraft]                  23
[frontline_bomber]                             17
[longrange_bomber]                             14
[naval_aircraft, torpedo]                      12
[strike_aircraft, torpedo]                      8
[light_bomber, hydroplane]                      8
[jet_bomber]                                    6
[aa_fighter]                                    5
[frontline_bomber, torpedo]                     4
[utility_helicopter]                            3
[submarine_chaser, boat]                        3
[dive_bomber, naval_aircraft]                   3
[missile_tank]                                  3
[strike_aircraft, naval_aircraft, torpedo]      3
[naval_aircraft, interceptor]                   2
[interceptor]                                   2
[dive_bomber]                                   1
[hydroplane]                                    1
[light_bomber, dive_bomber]                     1
[light_bomber]                                  1
[hydroplane, torpedo]                           1
[torpedo]                                       1
[longrange_bomber, hydroplane]                  1
[naval_aircraft, dive_bomber]                   1
[heavy_gun_boat]                                1
[gun_boat]                                      1
Name: count, dtype: int64

In [18]:
df["is_marketplace"].value_counts()

is_marketplace
False    566
True      34
Name: count, dtype: int64

In [21]:
df["is_event"].value_counts()

is_event
craft_2023_spring       3
summer_2020             2
battlepass_season10     2
summer_2018_good_old    2
battlepass_season12     1
battlepass_season5      1
summer_2019             1
craft_2020_autumn       1
summer_2021             1
battlepass_season8      1
2024_04_tank            1
battlepass_season4      1
winter_2025             1
battlepass_season6      1
craft_2021_spring       1
battlepass_season9      1
craft_2021_autumn       1
2025_02_air             1
battlepass_season1      1
summer_2022             1
craft_2020_spring       1
summer_2016             1
craft_2023_autumn       1
2024_08_air             1
worldwar_recon_fire     1
battlepass_season19     1
2025_02_ship            1
battlepass_season14     1
Name: count, dtype: int64