# Setup

In [1]:
from transform import transform
from json import loads

In [2]:
with open("example_response.json", "r", encoding="utf-8") as f:
        data = loads(f.read())

In [3]:
df = transform(data)

# Exploration

In [12]:
df.head()

,name,country,vehicle_type,tier,realistic_br,realistic_ground_br,is_event,release_date,is_premium,is_pack,is_marketplace,is_squadron,image_url,mode
0,a-20g,usa,assault,2,2.7,2.7,False,NaT,False,False,False,False,https://www.wtvehiclesapi.sgambe.serv00.net/as...,air
1,a-26b,usa,assault,4,5.3,5.3,False,NaT,False,False,False,False,https://www.wtvehiclesapi.sgambe.serv00.net/as...,air
2,a-26b_10,usa,assault,4,5.0,5.0,False,2017-09-14 00:00:00+00:00,False,False,False,False,https://www.wtvehiclesapi.sgambe.serv00.net/as...,air
3,a-26c,usa,bomber,4,5.3,5.3,False,NaT,False,False,False,False,https://www.wtvehiclesapi.sgambe.serv00.net/as...,air
4,a-26c-45-dt,usa,bomber,4,5.3,5.3,False,NaT,True,True,False,False,https://www.wtvehiclesapi.sgambe.serv00.net/as...,air

In [15]:
df["name"].head(40)

0                 a-20g
1                 a-26b
2              a-26b_10
3                 a-26c
4           a-26c-45-dt
5                 a-35b
6                   a2d
7                  a5m4
8           a5m4_hagiri
9            a6m2_mod11
10          a6m2_n_zero
11            a6m2_zero
12      a6m2_zero_china
13        a6m2_zero_usa
14      a6m3_mod22_zero
15    a6m3_mod22ko_zero
16            a6m3_zero
17            a6m5_zero
18      a6m5_zero_china
19              a6m5hei
20               a6m5ko
21             a6m5otsu
22                a6m6c
23                a7he1
24                 a7m1
25                 a7m2
26           a_109_eoa2
27          a_10a_early
28           a_10a_late
29                a_10c
30              a_129_a
31            a_129_cbt
32              a_129_d
33        a_20g_30_ussr
34          a_29_hudson
35                 a_4b
36           a_4e_early
37       a_4e_early_iaf
38        a_4e_late_iaf
39                 a_4h
Name: name, dtype: object

In [5]:
df.dtypes

name                                object
country                             object
vehicle_type                        object
tier                                 int64
realistic_br                       float64
realistic_ground_br                float64
is_event                              bool
release_date           datetime64[ns, UTC]
is_premium                            bool
is_pack                               bool
is_marketplace                        bool
is_squadron                           bool
image_url                           object
mode                                object
dtype: object

In [7]:
df["tier"].value_counts()

tier
6    97
1    89
2    85
4    76
7    74
5    72
3    64
8    43
Name: count, dtype: int64

In [8]:
df["vehicle_type"].value_counts()

vehicle_type
fighter               228
assault                90
bomber                 72
light_tank             45
medium_tank            45
attack_helicopter      29
spaa                   20
tank_destroyer         20
destroyer              16
heavy_tank             12
battleship              6
utility_helicopter      5
light_cruiser           5
heavy_boat              3
heavy_cruiser           2
frigate                 1
boat                    1
Name: count, dtype: int64

In [10]:
df["is_marketplace"].value_counts()

is_marketplace
False    566
True      34
Name: count, dtype: int64

In [11]:
df["is_event"].value_counts()

is_event
False    567
True      33
Name: count, dtype: int64